.panel{
    background-color: ghostwhite;
    border-radius:10px ;
}
.panel-danger{
    margin-top:10px;
    border-radius:10px ;
}
h3{
    line-height: 64px;
    padding-left: 10px;
}
.panel-header{
    background-color: darkcyan;
    border-radius: 5px;
    height: 70px;
}
.btn-secondary{
    margin: 16px 16px;
}