<div class="container-fuild">
    <div class="panel panel-default">
        <div class="panel-header">
            <h3>Thông tin tìm kiếm</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control">
                 </div>
            </div>
        </div>
        <div class="panel-footer"><br></div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-header">
            <div class="row">
                <div class="col-6" >
                    <h3> <i class="fas fa-bars"></i> Danh sách user</h3>
                </div>
                <div class="col-6 text-right">
                    <button type="button"class="btn btn-secondary"> <i class="fas fa-chevron-flush"></i>Tạo mới</button>
                </div>
            </div>
        </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Họ và tên</td>
                    <td>Ngày sinh</td>
                    <td>Quê quán</td>
                    <td>Email</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="panel-footer"><br></div>
</div>
</div>

