<!-- <div class="container-fluid">
  <div class="row header_main" style="background-color: darkcyan;">
    <div class="col-7">
      <h1>Hệ thống quán lý bán hàng</h1>
    </div>
    <div class="col-5 text-right">
      <a class="nav-item nav-link" (click)="logout()"
        ><a *ngIf="userCurrent != null">{{ userCurrent.fullName }}</a
        ><i class="fas fa-chevron-down"></i> Logout</a
      >
    </div>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg w-100 header">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      Hello : {{ authenticationService.currentUserValue.fullName }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" *ngFor="let item of listMenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" *ngIf="!item.path">
            {{item.name}}
          </a>
          <div class="dropdown-menu">
            <div *ngFor="let menu of listMenu">
              <a class="dropdown-item" routerLink="{{menu.path}}" *ngIf="menu.menuId==item.id">{{menu.name}}</a>
            </div>
          </div>
        </li>
        <!-- Dropdown -->
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>