<div data-spy="scroll" style="height: 400px;" class="container100">
    <form novalidate (ngSubmit)="addPost(supplierService.form.value)" [formGroup]="supplierService.form">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin-top:-16px;">Tạo mới NCC</h3>
                <button type="button" (click)="onClose()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="display: none;">
                    <label for="supplierId">supplierId</label>
                    <input id="supplierId" type="text" class="form-control" name="supplierId"
                        placeholder="Enter supplierId" formControlName="supplierId" />
                    <p id="supplierId"></p>
                </div>
                <div class="form-group">
                    <label for="name">Tên NCC</label>
                    <input id="name" type="text" class="form-control" name="name" placeholder="Enter Name"
                        formControlName="name">
                    <p id="name"></p>
                </div>
                <div class="form-group">
                    <label for="code">Mã NCC:</label>
                    <input id="code" type="text" class="form-control" name="code" placeholder="Enter code"
                        formControlName="code">
                    <p id="code"></p>
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ NCC:</label>
                    <input id="address" type="text" class="form-control" name="address" placeholder="Enter address"
                        formControlName="address">
                    <p id="address"></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="row" style=" margin-top: 14px;">
                        <div class="col-2"></div>
                        <div class="col-5">
                            <button type="button" class="btn btn-default" (click)="onClose()">
                                Close
                            </button>
                        </div>
                        <div class="col-5">
                            <button type="submit" class="btn btn-success form-control"
                                [disabled]="!supplierService.form.valid">Lưu</button>
                        </div>
                    </div>
                </div>
                <img *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </div>
    </form>
</div>