<nav class="mainNav">
  <ul>
    <li class="selected" data-toggle="collapse" href="#collapseHeThong">
      <a routerLink=""><i class="fas fa-home"></i> Hệ thống</a>
      <ul class="collapse" id="collapseHeThong">
        <li><a routerLink="/hethong/account">Quán lý user</a></li>
        <li><a href="#">Thuốc bột</a></li>
        <li><a href="#">Bột pha tiêm</a></li>
      </ul>
    </li>
    <li class="selected" data-toggle="collapse" href="#collapseSanPham">
      <a><i class="fas fa-list-alt"></i> Quản lý sản phẩm</a>
      <ul class="collapse" id="collapseSanPham">
        <li><a routerLink="/product">Danh mục nhà cung cấp</a></li>
        <li>
          <a routerLink="/product/category-product">Danh mục sản phẩm</a>
        </li>

        <li><a href="#">Bột pha tiêm</a></li>
      </ul>
    </li>
  </ul>
</nav>
