<configuration>
  <components>
    <!-- Begin -->
    <component
     id="IUserdataService"
     service="Shop.Core.IServices.IUserdataService, Shop.Core"
     type="Shop.Core.Implements.UserdataService, Shop.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="IRoleService"
     service="Shop.Core.IServices.IRoleService, Shop.Core"
     type="Shop.Core.Implements.RoleService, Shop.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="IPermissionService"
     service="Shop.Core.IServices.IPermissionService, Shop.Core"
     type="Shop.Core.Implements.PermissionService, Shop.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
     id="IPermissionGroupService"
     service="Shop.Core.IServices.IPermissionGroupService, Shop.Core"
     type="Shop.Core.Implements.PermissionGroupService, Shop.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
        
    <!-- Shop.Core Services -->
    <component
     id="ICompanyService"
     service="Shop.Core.IServices.ICompanyService, Shop.Core"
     type="Shop.Core.Implements.CompanyService, Shop.Core" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <!-- End -->
  </components>
</configuration>